@using Testezin.Entidades;

@{
    ViewData["Title"] = "AdministarHobbies";
}

<h1>@ViewBag.Usuario</h1>

@{
    foreach(Hobbies item in ViewBag.Resposta){
        <h1>@item.Id</h1>
        <h1>@item.Nome</h1>
        <h1>@item.Aniversario</h1>
        <h1>@item.Hobbie</h1>
        <h1>@item.Gostos</h1>
        <h1>@item.PossiveisPresentes</h1>
    }
}