@using Testezin.Entidades;

@{
    ViewData["Title"] = "AdministarHobbies";
}

@{
    foreach(Hobbies item in ViewBag.Resposta){
        <form method="get" asp-action="EditarHobbies" asp-controller="UsuarioMVC">
            <div style="border: 1px solid #0044ff; margin-bottom: 1vh;">
                <h1 style="border-bottom: 1px solid #0044ff;">ID: @item.Id</h1>
                <h1 style="border-bottom: 1px solid #0044ff;">Nome: @item.Nome</h1>
                <h1 style="border-bottom: 1px solid #0044ff;">Aniversario: @item.Aniversario</h1>
                <h1 style="border-bottom: 1px solid #0044ff;">Hobbie: @item.Hobbie</h1>
                <h1 style="border-bottom: 1px solid #0044ff;">Gostos: @item.Gostos</h1>
                <h1>PossiveisPresentes: @item.PossiveisPresentes</h1>
            </div>
    
            <div class="col-12 d-grid gap-2" style="margin-bottom: 1vh;">
                <button type="submit" class="btn btn-primary" asp-controller="UsuarioMVC" asp-action="EditarHobbies" asp-route-id=@item.Id>Editar</button>
                <button class="btn btn-danger" asp-controller="UsuarioMVC" asp-action="DeletarHobbies" asp-route-id=@item.Id>Deletar</button>
            </div>
        </form>
    }
}